@{
    ViewBag.Title = "Index";
}

<style>
    /* TODO : Trebuie facut un fiseir css separat ca sa il pot face responsve*/

    .masonry-container {
        column-count: 4;
        column-gap: 16px; /* Adjust the gap between columns as needed */
        margin: 0 auto; /* Center the columns */
    }

    .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 16px; /* Adjust the margin between cards as needed */
        break-inside: avoid-column; /* Prevent breaking inside columns */
        overflow: hidden;
        position: relative;
    }

        .card img {
            width: 100%;
            height: auto;
            transition: transform 0.2s ease-in-out;
        }

    .card-overlay {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
        opacity: 0; /* Initially hidden */
        transition: opacity 0.2s ease-in-out;
    }

    .card:hover .card-overlay {
        opacity: 1; /* Show on hover */
    }
</style>

<h2 class="text-center">Afisare postari</h2>

@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Categories/Index/">Afisare categorii</a>
    <br />
    <a class="btn btn-outline-success" href="/Images/New">Adauga postare</a>
    <br />
</div>

<div class="masonry-container">
    @foreach (PlatformaSocialBookmarking.Models.Image image in ViewBag.Images)
    {
        <div class="card">
            <!-- Displaying the image dynamically -->
            <a href="/Images/Show/@image.Id">
                <img src="@image.Url" alt="Image" class="img-fluid" />
                <div class="card-overlay">Open post</div>
            </a>
        </div>
    }
</div>
