@model List<PlatformaSocialBookmarking.Models.Bookmark>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home/Index.css" />


<div class="container mt-4">
    @if (Model != null && Model.Count > 0)
    {
        <div class="row">
            @foreach (var bookmark in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        
                        @if (bookmark.Bookmark_Has_Images != null && bookmark.Bookmark_Has_Images.Any())
                        {
                            <img src="@bookmark.Bookmark_Has_Images.First()?.Image?.Url" alt="Image" class="img-thumbnail" id="mainImage-@bookmark.Id" />

                        }
                        <div class="cover-overlay"></div>
                        <h3>@bookmark.Title</h3>

                        <div class="buttons">
                            <a asp-controller="Bookmarks" asp-action="Show" asp-route-id="@bookmark.Id" class="btn btn-primary">Show Bookmark</a>
                            <a asp-controller="Bookmark_Has_Categories" asp-action="SelectCategory" asp-route-id="@bookmark.Id" class="btn btn-success">Save Bookmark</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            <div id="missing_content">No bookmarks available.</div>
            <a asp-controller="Bookmarks" asp-action="New" class="btn btn-primary">Go to New Bookmark</a>
        </div>
    }
</div>
