.image-container {
    position: relative;
    overflow: hidden;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: background-color 0.3s;
}

.card:hover .image-overlay {
    background-color: rgba(255, 255, 255, 0);
}

.card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: black;
    font-size: 2em;
    font-weight: bold;
    transition: opacity 0.3s;
    background-color: blue;
}

.card:hover .card-body {
    opacity: 0; 
}

.card-title {
    margin-bottom: 0;
}

.card-link {
    color: inherit; 
    text-decoration: none; 
}

.card-link:hover {
    text-decoration: underline;
}

.alert {
    background-color: rgba(255, 255, 255, 0);
    border: none; 
    color: grey;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-new-section {
    text-align: center;
    margin-top: 2px;
}

.add-new-text {
    color: lightgrey;
    font-size: 1em; 
    margin-top: 10px;
}

#missing_content {
    color: grey;
    font-size: 2em;
    margin-top: 10px;
}
