html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5em;
    background-color: #1f1f1f;
}


.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    background-color: #171717 !important;
    color : white !important;
    border: none !important;
    border-top: 1px solid #1f1f1f !important;
    position: fixed;
    bottom: -1em;
    width: 100%;
    z-index: 10;
}

.navbar-light .navbar-brand {
    color: white;
}

    .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        color: goldenrod;
    }

a.nav-link {
    color: white !important;
}

    a.nav-link:hover {
        color: goldenrod !important;
    }

.logoutbtn {
    color: goldenrod !important;
}

    .logoutbtn:hover {
        color: white !important;
    }

.note-editor .dropdown-toggle::after {
    display: none;
}

.button.nav-link.btn.btn-link.text-dark{
    color : white ;
}

.h2 {
    color: white;
}

.text-dark {
    color: white;
}

.form-control {
    border-radius: 16px;
    border: none;
}
